.theme-background{
  background: #242b48;	
}

.theme-nav {
  background: #04173d;	
}

.theme-font-color{
  color: #ffff;
}
.theme-border-color{
  border: 1px solid #fff;
}
.theme_vertical_border{
  border-left: 1px solid #04173d;
  border-right: 1px solid #f1f2f2;	
}

.theme-title-color{
  background-color: #000;	
}

.theme-composor-background{
  background-color: #0d1935;	
}

.theme-composor-content{
  background-color: #242b48;	
}

.theme-element-color{
  background-color: #04173d;

}

.nav-active{
  color: #0062ff;
  font-weight:bold;
}

.theme-left-nav {
  background: #000000;	
}

.selected-btn {
  background-color: #04173d;
  color: #fff;
  border: 0;
  font-weight: 500;

}

.other-btn {
  background-color: transparent;
  color: #9599b6;
  border: 0;
}

.other-btn:hover {
  background-color: #242b48;
  color: #fff;
}

.other-btn:focus {
  outline: none;
}

.other-btn:active {
  background-color: #d2d2d2;
}

.vertical-menu a {
  background-color: #000;
  color: #fff;
  display: block;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
}

.vertical-menu a:hover {
  color: #fff;
  background-color: #04173d;
}

.vertical-menu a.active {
  background-color: #04173d;
  color: #fff;
}

.draft-list-item {
  color: #696974;
  font-weight: 600;
  border: 1px solid #0d1935;
  border-radius: 10px;
}

.draft-list-item:hover {
  background-color: #000;
  border-radius: 10px;
  color: #696974;
}

.draft-list-item_active {
  background-color: #0d1935;
  border-radius: 10px;
  color: #696974;
}

/* draft details panel */

.draft-panel {
  height: 85%;
}

.drag-drop-panel {
  border-radius: 10px;
  color: #9599b6;
  border: 1px dashed #d2d2d2;  
}

/* 4 action in draft page */
.draft-action {
  color: #9599b6;
  font-weight: 600;
  outline: none;
  border: 0;
}

.draft-action:hover,
.draft-action:active,
.draft-action:focus {
  background-color: #0062ff;
  color: #fff;
  outline: none;
}

.draft-action-bar {
  background-color: #04173d;
  border-radius: 25px;
}

.radio-panel {
  background-color: #04173d;
  outline: none;
  border: 0;
}

/**** .radio-panel:active .radio-panel:focus ****/
.radio-panel:hover, 
.radio-panel:focus {
  background-color: #000;
  outline: none;
}

.radio-panel:hover .black-font,
.radio-panel:active .black-font,
.radio-panel:focus .black-font,
.radio-panel:hover .grey-font,
.radio-panel:active .grey-font,
.radio-panel:focus .grey-font {
}



