html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "lato";
  height: 100vh;
  overflow: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../img/ic_Chevron Down.png");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 16px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top:168px;
  margin-right:10px;
  font-size:10pt;
  display: none;
  position: absolute;
  min-width: 180px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.vertical-menu {
  width: 180px;
  font-size:9pt;
}

.left-menu {
  background:#fbfbfd;
}
.left-menu-notification {
  background:#fbfbfd;
  border-right: 2px solid black;
}

.fade-in {
animation: fadeIn ease 0.6s;
-webkit-animation: fadeIn ease 0.6s;
-moz-animation: fadeIn ease 0.6s;
-o-animation: fadeIn ease 0.6s;
-ms-animation: fadeIn ease 0.6s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


.draft_container{
  height: 100%; 
}

.color-a {
  border: 1px solid #0062ff;
}

.color-b {
  border: 1px solid red;
}

.color-c {
  border: 1px solid green;
}

/* .content-height */

.nav-height {
  height: 6.8%;
  min-height: 50px;
}

.content-height {
  height: 93.2%;
}

.right-top-panel{
  background:#ffffff;	
  border-bottom: 1px solid rgba(43, 45, 61, 0.07);  
}

.noti-draft-right-panel-top-height {
  height: 10%;
}

.noti-draft-right-panel-btm-height {
  height: 90%;
}

@media only screen and (max-width: 1223px) {
  .noti-draft-right-panel-top-height {
    height: 25%;
  }

  .noti-draft-right-panel-btm-height {
    height: 75%;
  }
}

@media only screen and (max-width: 991px) {
  .content-height {
    height: 83%;
  }

  .nav-height {
    height: 17%;
  }
}

/************************* font settings **************************/
/* font color */
.blue-font {
  color: #0062ff;
}

.black-font {
  color: #2b2d3d;
}

.black-two-font {
  color: #44444f;
}

.black-three-font {
  color: #171725;
}

.grey-font {
  color: #9599b6;
}

.grey-two-font {
  color: #696974;
}

.grey-three-font {
  color: #92929d;
}

.grey-four-font {
  color: #cccedb;
}

.grey-five-font {
  color: #cccccc;
}

.green-font {
  color: #30b38a;
}

.red-font {
  color: #fc4c4c;
}

/* font weight */
.font-semi {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

/* font size */
.font-size-18 {
  font-size: 18px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-10 {
  font-size: 10px;
}

/************************** button settings ************************/
/* recipients modal */
.confirm-btn {
  height: 50px;
  background-color: #0062ff;
  border: 0;
  color: #fff;
}

.confirm-btn:focus {
  outline: none;
}

/* left panel button */
.left-panel-btn {
  height: 46px;
  margin: 0 0 0.8vh 0;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  padding-left: 2vh;
  outline: none;
}

.add-btn {
  background-color: transparent;
  color: #2b2d3d;
  border: 1px solid #b1b2b2;
}

.add-btn:hover {
  color: #0062ff;
  border: 1px solid #0062ff;
}

.add-btn:focus {
  outline: none;
}

.add-btn:active {
  background-color: transparent;
}

.selected-btn:focus {
  outline: none;
}

.big-btn {
  width: 350px;
  height: 60px;
  border: 1px dashed #0062ff;
  color: #0062ff;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
}

.big-btn:focus {
  outline: none;
}

/* 2 right hand side button in selected draft page */
.draft-detail-btn {
  height: 36px;
  width: 120px;
  background-color: transparent;
  color: #2b2d3d;
  border: 1px solid #b1b2b2;
  border-radius: 5px;
  font-size:11pt;
}

.draft-proceed-btn {
  height: 36px;
  width: 120px;
  border: 1px solid #0062ff;
  border-radius: 5px;
  font-size:11pt;
}

.draft-detail-btn:hover {
  color: #fff;
  color: #0062ff;
  border: 1px solid #0062ff;
}
.draft-detail-btn:focus {
  outline: none;
}
/************************** text input setting **********************/
.white-dot {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

/* select date modal */
.modal-input::placeholder {
  color: #9599b6;
  font-size: 16px;
  font-weight: 600;
}

/* input bar in draft page */
.draft-input-height {
  height: 40px;
  font-size:11pt;
}

/* search bar and sort bar */
.search-bar {
  background-color: white;
  background-image: url("../img/ic_search.png");
  background-position: 15px 7px;
  background-repeat: no-repeat;
  height: 36px;
  padding-left: 50px;
  border-radius: 5px;
  border: 1px solid #9599b6;
  font-size: 14px;
  font-weight: 500;
  color: #696974;
}

.within-bar {
  background-color: white;
  background-image: url("../img/within.png");
  background-position: 15px 20px;
  background-repeat: no-repeat;
  height: 56px;
  padding-left: 80px;
  border-radius: 5px;
  border: 1px solid #9599b6;
  font-size: 16px;
  font-weight: 500;
  color: #2b2d3d;
}

.sort-bar {
  background-color: white;
  background-image: url("../img/sort.png");
  background-position: 15px 10px;
  background-repeat: no-repeat;
  height: 36px;
  padding-left: 80px;
  border-radius: 5px;
  border: 1px solid #9599b6;
  font-size: 16px;
  font-weight: 500;
  color: #2b2d3d;
}

.sort-bar-filter {
  background-image: url("../img/ic_Filter.png");
  background-position: 15px 7px;
  padding-left: 50px;
  outline: none;
}

.sort-bar-filter:focus {
  outline: none;
}

/************************* override modal **************************/
.modal-dialog {
  min-width: 75vw;
}

.modal-content {
  border-radius: 15px;
}

/* modal */

.modal-option {
  border: 1px solid #cccccc;
  border-radius: 10px;
}

/********************** notification **************************/
/* overflow panel */
.panel {
  height: 100%;
}

/* draft selected page */
/* draft list panel*/
.draft-action-no-action {
  border-radius: 25px 0px 0px 25px;
}

.draft-action-middle {
  border-radius: 0px;
}

.draft-action-web {
  border-radius: 0px 25px 25px 0px;
}

.no-action {
  width: 50px;
  height: 50px;
  background: url("../img/ic_NoAction.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.details {
  width: 50px;
  height: 50px;
  background: url("../img/ic_Details.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.app-scrn {
  width: 50px;
  height: 50px;
  background: url("../img/ic_AppScrn.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.web {
  width: 50px;
  height: 50px;
  background: url("../img/ic_WebURL.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

/* greyed draft action */
.draft-action-greyed {
  color: #9599b6;
  font-weight: 600;
  outline: none;
  border: 0;
}

.draft-action-greyed-selected {
  background-color: #cccedb;
  color: #fff;
  outline: none;
  border: 0;
}

.details-greyed {
  width: 50px;
  height: 50px;
  background: url("../img/ic_DetailsDisabled.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.app-scrn-greyed {
  width: 50px;
  height: 50px;
  background: url("../img/ic_AppScrnDisabled.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.web-greyed {
  width: 50px;
  height: 50px;
  background: url("../img/ic_WebDisabled.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.draft-action:hover .details,
.draft-action:focus .details {
  background: url("../img/ic_DetailsDisabled.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.draft-action:hover .app-scrn,
.draft-action:focus .app-scrn {
  background: url("../img/ic_AppScrnDisabled.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.draft-action:hover .web,
.draft-action:focus .web {
  background: url("../img/ic_WebDisabled.png") no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

#draft-action-details-action {
  display: none;
}

/* send option */
.send-option {
  color: #9599b6;
  font-weight: 600;
}

.user {
  height: 22px;
}

.icon_size {
  height: 18px;
}

/************************** scheduled page *******************************/
.selected-scheduled-item-box {
  background-color: #f5f5f7;
  color: #9599b6;
  font-weight: 600;
  border-radius: 15px;
}

.scheduled-item-box {
  background-color: #fff;
  border: 1px solid #cccedb;
  color: #9599b6;
  font-weight: 600;
  border-radius: 15px;
  outline: none;
}

.scheduled-item-box:hover,
.scheduled-item-box:active,
.scheduled-item-box:focus {
  background-color: #f5f5f7;
  outline: none;
  border: 1px solid #fff;
}

.scheduled-item-box:hover .action-right,
.scheduled-item-box:active .action-right,
.scheduled-item-box:focus .action-right {
  display: block;
}

.action-right {
  display: none;
}

.action-right a {
  text-decoration: none;
}
/**************************** noti log page ******************************/
/* noti log table */
.table-header {
  background-color: #f5f5f7;
  color: #9599b6;
  font-weight: 500;
}

.table-header th:nth-child(1) {
  border-radius: 10px 0 0 10px;
  padding-left: 35px;
}

.table-header th:nth-last-child(1) {
  border-radius: 0 10px 10px 0;
}

.table-body td:nth-child(1) {
  padding-left: 35px;
}

.table-footer {
  color: #92929d;
  font-weight: 600;
}

.numbering span {
  margin-right: 0.7em;
}

.numbering span:nth-last-child(1) {
  margin-right: 0;
}

/* noti log filter dropdown */
.dropdown-menu {
  min-width: 350px;
  border: 1px solid #fff;
}

.checkbox {
  margin-top: 6px;
}

.filter-item-last-dropdown {
  background: url("../img/within.png") no-repeat;
  background-position: 15px 12px;
  padding-left: 80px;
}
/*************************** authentication page ************************/
.container-fluid {
  padding: 0;
}

.auth-background {
  background-color: #f5f5f7;
}

.auth-container {
  height: 100vh;
}

.auth-panel {
  background-color: #ffffff;
  border-radius: 10px;
}

.auth-email-input {
  background-image: url("../img/ic_email.png");
  background-position: 10px 14px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.auth-user-input {
  background-image: url("../img/ic_user.png");
  background-position: 10px 11px;
  background-repeat: no-repeat;
  padding-left: 45px;
}

.auth-password-input {
  background-image: url("../img/ic_lock.png");
  background-position: 13px 12px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.back-arrow {
  color: #0062ff;
}

.field-icon {
  background-image: url("../img/ic_Dropdown.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: right;
  margin-right: 15px;
  margin-top: -30px;
  position: relative;
  z-index: 4;
}

.field-placeholder::placeholder {
  color: #9599b6;
  font-size: 16px;
}

/* reset password page */
.img-div {
  height: 309px;
  z-index: -1;
}

.background-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.reset-password-panel {
  min-width:400px;
  background-color: #ffffff;
  border-radius: 30px;
  height: 70vh;
  top: 15vh;
}

.reset-password-background {
  width: 100%;
  height: 100%;
}

/******************************** nav bar bootstrap *************************/

.nav-bar-bs {
  color: #171725;
  border-bottom: 1px solid rgba(43, 45, 61, 0.07);
}

.nav-logo-bs {
  height: 22px;
}

.nav-section-bs ul li {
  font-size: 14px;
}

.nav-section-bs ul li:hover {
  border-bottom: 3px solid #0062ff;
  color: #0062ff;
}

.nav-section-bs ul a {
  color: #171725;
}

.nav-section-bs ul a:visited {
  color: #171725;
}

/* user-acc section */
#user-icon {
  height: 30px;
  padding:0px 5px 0px 15px; 
}

#user-name {
  font-size: 14px;
  padding-right:15px;
}

#user-desc {
  font-size: 10px;
  font-weight: 600;
  color: #696974;
  padding-right:15px;
}

.user-acc {
  float: right;
  margin-left: 1vh;
}

.user-details {
  float: right;
  margin: 1vh 32px 1vh 3vh;
}

/* /****************************************** main panel section ********************************** */

.form-tag-scheduled {
  background-color: rgba(0, 98, 255, 0.2);
  color: #0062ff;
  width: 100px;
  height: 24px;
  padding-top: 4px;
  font-size: 11px;
  text-align: center;
  border-radius: 15px;
}

.form-tag-draft {
  background-color: #fff;
  color: #0062ff;
  width: 71px;
  height: 24px;
  padding-top: 4px;
  font-size: 11px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #0062ff;
}

.form-tag-ongoing {
  background-color: rgba(48, 179, 138, 0.2);
  color: #30b38a;
  width: 71px;
  height: 24px;
  padding-top: 4px;
  font-size: 11px;
  text-align: center;
  border-radius: 15px;
  border: 0;
}

/* responsive css */
@media only screen and (max-width: 1500px) {
  .right-panel {
    width: 1095px;
  }

  .form-item {
    width: 1095px;
  }
}

@media only screen and (max-width: 1310px) {
  .left-panel {
    width: 100%;
    height: auto;
  }

  .left-panel-btn {
    width: 13vw;
    display: inline-block;
    margin: 0vh 2vw 3vh 2vw;
    padding-left: 0;
    text-align: center;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cde1ff; 
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8d4fc; 
}
/* Handle loading spin */
.loader {
  position: absolute;
  left: 50%;
  top: 55%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid  #0062ff;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.center_spinner {
  position: absolute;
  top: 50%;
  left: 57%;
  margin: -50px 0px 0px -50px;
}

.table-bordered{
  border:3px solid #ffffff !important
}
.table-bordered td,.table-bordered th {
  border:3px solid  #ffffff !important;  
}
.table-bordered thead td,.table-bordered thead th{
  border-bottom-width:3px
}
.table-bordered th {
  background-color: black;
  color: #ffffff;
}
